<div id="footer">

    <div id="footer-top">

        <div id="footer-products">
            <div class="footer-title">
                <h1>Products</h1>
            </div>

            <div id="footer-products-content">

                <div id="content-left">
                    <p><a href="/product-list">Pet Cologne</a></p>
                    <p><a href="/product-list">Spray</a></p>
                    <p><a href="/product-list">Healing oil</a></p>
                    <p><a href="/product-list">Pet Soap</a></p>
                </div>

                <div id="content-right">
                    <p><a href="/product-list">Conditioning Shampoo</a></p>
                    <p><a href="/product-list">Pet Powder</a></p>
                    <p><a href="/product-list">Ear Cleaner</a></p>
                </div>
                
            </div>
        </div>

        <div id="footer-about">
            <div class="footer-title">
                <h1>About Us</h1>
            </div>

            <div class="footer-content">
                <p><a href="/about-us">Who we are</a></p>
                <p><a href="/about-us">Our products</a></p>
                <p><a href="/about-us">Contact us</a></p>
            </div>
        </div>

        <div id="footer-shopee">
            <div class="footer-title">
                <h1>Visit our online shop at:</h1>
            </div>

            <div class="footer-content">
                <p><a href="https://shopee.ph/baylimarketing">https://shopee.ph/baylimarketing</a></p>
            </div>
        </div>

        <div id="footer-contact">
            <div class="footer-title">
                <h1>Have inquiries or suggestions?</h1>
            </div>

            <div class="footer-content">
                <p><a href="/about-us">Reach out to us!</a></p>
            </div>
        </div>

    </div>

    <div id="footer-mid">
        <hr>
    </div>

    <div id="footer-bottom">
        <h1>Follow us on:</h1>
        <ul>
            <a href="https://www.facebook.com/p/Bayli-Pet-Care-Products-100054279200773/">     <li class="facebook-icon"></li>    </a>
            <a href="https://shopee.ph/baylimarketing">                                        <li class="shopee-icon"></li>      </a>
            <a href="https://shoppedia.ph/">                                                   <li class="shoppedia-icon"></li>   </a>
        </ul>
    </div>

</div>