<div id="footer">

    <div id="footer-top">

        <div id="footer-products">
            <div class="footer-title">
                <h1>Products</h1>
            </div>

            <div id="footer-products-content">

                <div id="content-left">
                    <p><a href="/product-list?q=4">Pet Cologne</a></p>
                    <p><a href="/product-list?q=6">Spray</a></p>
                    <p><a href="/product-list?q=5">Healing oil</a></p>
                    <p><a href="/product-list?q=3">Pet Soap</a></p>
                </div>

                <div id="content-right">
                    <p><a href="/product-list?q=1">Conditioning Shampoo</a></p>
                    <p><a href="/product-list?q=2">Pet Powder</a></p>
                    <p><a href="/product-list?q=7">Ear Cleaner</a></p>
                </div>
                
            </div>
        </div>

        <div id="footer-about">
            <div class="footer-title">
                <h1>About Us</h1>
            </div>

            <div class="footer-content">
                <p><a href="/about-us/#aboutus-page1">Who we are</a></p>
                <p><a href="/about-us/#aboutus-page2">Our products</a></p>
            </div>
        </div>

        <div id="footer-contact">
            <div class="footer-title">
                <h1>Contact Us</h1>
            </div>

            <div class="footer-content">
                <p><b>GLOBE:</b> <a href="tel:+63-927-164-0621">0927 164 0621</a></p>
                <p><b>TALK N' TEXT:</b> <a href="tel:+63-921-389-6188">0921 389 6188</a></p>
                <p><b>LANDLINE:</b> <a href="tel:+63-2-85312346">02-85312346</a></p>
            </div>
        </div>

        <div id="footer-form">
            <div class="footer-title">
                <h1>Have inquiries or suggestions?</h1>
            </div>

            <div class="footer-content">
                <p><a href="/about-us/#aboutus-page3">Fill out our forms!</a></p>
            </div>
        </div>

    </div>

    <div id="footer-mid">
        <hr>
    </div>

    <div id="footer-bottom">
        <h1>Follow us on:</h1>
        <ul>
            <a href="https://www.facebook.com/p/Bayli-Pet-Care-Products-100054279200773/">     <li class="facebook-icon"></li>    </a>
            <a href="https://shopee.ph/baylimarketing">                                        <li class="shopee-icon"></li>      </a>
            <a href="https://shoppedia.ph/">                                                   <li class="shoppedia-icon"></li>   </a>
        </ul>
    </div>

</div>