<div id="footer">

    <div id="footer-top">

    </div>

    <div id="footer-mid">
        <hr>
    </div>

    <div id="footer-bottom">
        <h1>Follow us on:</h1>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

</div>