<div id="navbar">

    <div id="nav-left">
        <div id="nav-logo">
            <a href="/home"><img src="photos/logotransparent.png" alt="logo"></a>
        </div>
        
        <div id="nav-options">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/">About Us</a></li>
            </ul>
        </div>
        
    </div>

    <div id="nav-right">
        <div id="nav-search">
            <input type="text" placeholder="Search">
        </div>
    </div>

</div>