<div class="productbox">
    
    
    <div class="productbox-left">
        <a href="/product">
             <div>
                <img src='{{getDisplayPicture Picture}}'>
            </div>
        </a>
    </div>   
    


    <div class="productbox-right">
        <div id="productbox-name">
            <h1><a href="/product">{{"Product Name"}}</a></h1>
        </div>

        <div id="productbox-desc">
            <p>
                {{"Product Description"}}
            </p>
        </div>

        <div id="productbox-bottom">
            <span id="productbox-infobox">
                <div>
                    Size: S | M | L
                </div>
                <div>
                    Price: (Small) - (Largest)
                </div>
            </span>
            <span id="productbox-buttonbox">
                <a href="/product">
                    <div id="productbox-viewbutton"> View </div>
                </a>
            </span>
        </div>
    </div>
</div>