<div class="productbox">
    <div class="productbox-left">
        <div>
            <img src='{{getDisplayPicture Picture}}'>
        </div>
    </div>

    <div class="productbox-right">
        <div id="productlist-name">
            <h1> {{"Product Name"}}</h1>
        </div>

        <div id="productlist-desc">
            <p>
                We will revise the database na lang
            </p>
        </div>

        <div id="productlist-bottom">
            <span id="productlist-infobox">
                <div>
                    Size: S | M | L
                </div>
                <div>
                    Price: (Small) - (Largest)
                </div>
            </span>
            <span id="productlist-buttonbox">
                <div id="productlist-viewbutton"> 
                    View
                </div>
            </span>
        </div>
    </div>
</div>