
<title>Page not found</title>

<body>

    {{> navbar}}

    <div class="main">

        <div id="notfound-base">

            <div id="notfound-container">
                <h1>404</h1>
                <p>page not found</p>
            </div>
            
        </div>
        
    </div>
    
</body>