<title>Bayli</title>

<body>

    {{> navbar}}

    <div class="main">
        <div id="about-base">


            <div id="about-page1">
                <div id="page1-left">
                    <h1>Who are we?</h1>
                    <br>
                    <p>
                        <i style="font-style:italic; font-style:bold; font-weight:bolder">A touch of care. </i>
                        <br> <br> 
                        Bayli Pet Care Products aims to provide natural, safe, unique, and cost-effective products that can help improve the quality of life of our beloved fur babies.

                    </p>
                </div>
                
                <div id="page1-right">
                    <div id="page1-right-box"></div>
                </div>
            </div>

            <div id="about-page2">
                <div id="page2-left">
                    <div id="page2-left-box"></div>
                </div>
                
                <div id="page2-right">
                    <h1>Our Products</h1>
                    <br>
                    <p>
                        Most of our products are organic as they are made from premium natural ingredients such as fruits and herbs which are carefully selected to make sure that we can give the best possible quality of products that are safe and gentle for our pets. 
                    </p>
                </div>
            </div>

        </div>
    </div>
    
    {{> footer}}

</body>