<title>Bayli</title>

<body>

    {{> navbar}}

    <div class="main">
        <div id="about-base">


            <div id="about-page1">
                <div id="page1-left">
                    <h1>Who are we?</h1>
                    <br>
                    <p>
                        <i style="font-style:italic; font-style:bold; font-weight:bolder">A touch of care. </i>
                        <br> <br> 
                        Bayli Pet Care Products aims to provide natural, safe, unique, and cost-effective products that can help improve the quality of life of our beloved fur babies.

                    </p>
                </div>
                
                <div id="page1-right">
                    <div id="page1-right-box"></div>
                </div>
            </div>

            <div id="about-page2">
                <div id="page2-left">
                    <div id="page2-left-box"></div>
                </div>
                
                <div id="page2-right">
                    <h1>Our Products</h1>
                    <br>
                    <p>
                        Most of our products are organic as they are made from premium natural ingredients such as fruits and herbs which are carefully selected to make sure that we can give the best possible quality of products that are safe and gentle for our pets. 
                    </p>
                </div>
            </div>

            <div id="about-page3">

                <div id="form-base">
                    <span id="form-left">
                        <form method="post" action="/send-form">
                            <h1>Reach out to us!</h1>
                            <div id="name">
                                <h2>Name</h2>
                                <input class="input-box" name="name" type="text" placeholder="e.g. Juan Dela Cruz" required>
                            </div>

                            <div id="email">
                                <h2>Email</h2>
                                <input class="input-box" name="email" type="email" placeholder="e.g. juan.dc@gmail.com" required>
                            </div>

                            <div id="message">
                                <h2> How can we help?</h2>
                                <textarea class="input-box" id="message-box" name="message" placeholder="Enter message" wrap="soft" maxlength="300" cols="33" rows="3" required></textarea>
                            </div>

                            <input type="hidden" name="access_key" value="79cbe655-d1c6-4948-a081-70a18a35eec4">

                            <div id="send-button">
                                <button type="submit"> Send Message </button>
                            </div>
                        </form>
                    </span>

                    <span id="form-right">
                        <img src="/photos/cat_dog.png">
                    </span>
                </div>
            </div>

        </div>
    </div>
    
    {{> footer}}

</body>