<title>Bayli</title>

<body>

    {{> navbar}}

    <div class="main">
        <div id="about-base">

        
            <div id="about-page1">
                <div id="page1-left">
                    <h1>Give your furry friends the best of care!</h1>
                    <br>
                    <br>
                    <p>Lorem lorem sinta suko na mamaya</p>
                </div>
                
                <div id="page1-right">

                </div>
            </div>

            <div id="about-page2">
                <div id="page2-left">
                    <h1>Who are we?</h1>
                    <br>
                    <p>asldkjasdljasldajsdlajdalsdjasldjasldkasjdlaksjdlaksdjasldjasldkajsdlkajdlkasjdlaskasldkjasldjasldjaldjallasdjaldkjasldjkasldjasdlaskjdlasjdalsdjalsdkjasdlksaskjdsladjkasldkjadlsjlsajkdaldkjasldjasdlasdjalfhoewhodjaslalskdjalsdjalsdkjasldjasldjaslkdjaslkdnasdklasndmasdnaslmdnaskdjaldwjiadhalidhaiohfoawiuwaoduiaosiyaudhklashdkljalsjkdalsdjkaslkdjaslkdjaskldjadlkajdlkajdalkdjaldkajdlakdjaldjkaldakjdlakdjaldkjaldjadlkajdklasdouiasodsaupdapa
                    </p>
                </div>
                
                <div id="page2-right">
                    <div id="page2-right-box"></div>
                </div>
            </div>

            <div id="about-page3">
                <div id="page3-left">
                    <div id="page3-left-box"></div>
                </div>
                
                <div id="page3-right">
                    <h1>Our Products</h1>
                    <br>
                    <p>asldkjasdljasldajsdlajdalsdjasldjasldkasjdlaksjdlaksdjasldjasldkajsdlkajdlkasjdlaskasldkjasldjasldjaldjallasdjaldkjasldjkasldjasdlaskjdlasjdalsdjalsdkjasdlksaskjdsladjkasldkjadlsjlsajkdaldkjasldjasdlasdjalfhoewhodjaslalskdjalsdjalsdkjasldjasldjaslkdjaslkdnasdklasndmasdnaslmdnaskdjaldwjiadhalidhaiohfoawiuwaoduiaosiyaudhklashdkljalsjkdalsdjkaslkdjaslkdjaskldjadlkajdlkajdalkdjaldkajdlakdjaldjkaldakjdlakdjaldkjaldjadlkajdklasdouiasodsaupdapa
                    </p>
                </div>
            </div>

        </div>
    </div>
    
    
</body>