<title>Bayli</title>

<body>

    <div>
        {{> navbar}}

        <div id="about-page1">
            <div id="page1-left">

            </div>
            
            <div id="page1-right">

            </div>
        </div>

        <div id="about-page2">
            <div id="page2-left">

            </div>
            
            <div id="page2-right">
                
            </div>
        </div>

        <div id="about-page3">
            <div id="page3-left">

            </div>
            
            <div id="page3-right">
                
            </div>
        </div>

        <h1>About us</h1>
    </div>
    
    
</body>