<body>
    {{> navbar}}

    <div class="main">
        <div id="form-base">
            <span id="form-left">
                <form>
                    <h1>Reach out to us!</h1>
                    <div id="name">
                        <h2>Name</h2>
                        <input class="input-box" name="user-name" type="text" placeholder="e.g. Juan Dela Cruz" required>
                    </div>

                    <div id="email">
                        <h2>Email</h2>
                        <input class="input-box" name="user-email" type="email" placeholder="e.g. juan.dc@gmail.com" required>
                    </div>

                    <div id="message">
                        <h2> How can we help?</h2>
                        <textarea id="message-box" name="message-box" placeholder="Enter message" wrap="soft" maxlength="300" cols="33" rows="3" required></textarea>
                    </div>


                    <div id="send-button">
                        <input type="submit" value="Send Message">
                    </div>
                </form>
            </span>

            <span id="form-right">
                <img src="/photos/cat_dog.png">
            </span>

        </div>
    </div>

</body>