<title>Home</title>

<body>

    {{> navbar}}

    <div class="main-home">

        <div id="home-base">


            <div id="home-page">
                <div id="page-left">
                    <p>
                        <h1>A Touch <br>
                            Of <br>
                            Care!
                        </h1>
                        <br>
                        <p>“Welcome to Bayli Pet Care where we value the well-being of our <br>
                            beloved fur babies. Made with premium natural ingredients, our <br>
                            products have the best quality, ensuring the safety of your pets.”</p>
                    </p>
                </div>

                <div id="page-right">

                </div>
            </div>

            
        </div>

    </div>



</body>