<title>Home</title>

<body>

    {{> navbar}}

    <div class="main">

        <div id="home-base">


            <div id="home-page">
                <div id="page-left">
                    <h1>Give your furry friends the best of care!</h1>
                    <br>
                    <br>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>

                <div id="page-right">

                </div>
            </div>

            
        </div>

    </div>



</body>