<title>Home</title>

<body>

    {{> navbar}}

    <div class="main-home">

        <div id="home-base">


            <div id="home-page">
                <div id="page-left">
                    <p>
                        <h1>A
                            Touch <br>
                            Of <br>
                            Care <br>
                        </h1>
                        <br>
                        <br>
                        <p>Noli Me Tangere</p>
                    </p>
                </div>

                <div id="page-right">

                </div>
            </div>

            
        </div>

    </div>



</body>