<title>Product List</title>

<body>

    {{> navbar}}

    <div class="main">

        <div id="productlist-base">

            <div id="productlist-options">
                <div id="search-container">
                    
                    <form action="/search-product" method="get">
                        <div id="search-icon">
                            <button><i class="fa fa-search"></i></button>
                        </div>
                        <input type="text" placeholder="Looking for something?">
                    </form>
                </div>
                <div id="filter-container">
                    <p>A-Z</p>
                    <p>|</p>
                    <div id="filter-icon">
                        <i class="fa fa-filter"></i>
                    </div>
                    
                </div>
            </div>


            <div id="productlist-main">
                {{#each (allProductsToArray Products)}}
                    {{> productbox this}}
                {{/each}}
                
            </div>

            
        </div>

    </div>

    {{> footer}}

</body>