<title>Product List</title>

<body>

    {{> navbar}}

    <div class="main">

        <div id="productlist-base">

            <div id="productlist-options">

            </div>


            <div id="productlist-main">
                {{#each (allProductsToArray Products)}}
                    {{> productbox this}}
                {{/each}}
                
            </div>

            
        </div>

    </div>

</body>