<title>Product Page</title>

<body>

    {{>navbar}}

    <div class="main">
        <div id="product-base">
            
            <span id="left-box">
                <div>

                </div>
                <div>

                </div>
                <div>

                </div>
                <div>

                </div>
            </span>

            <span id ="main-box"> 
                <div> 

                </div>
            </span>

            <span id = "right-box">
                <div id="product-name">
                    <h1>Pet Powder</h1>
                </div>

                <hr>

                <div id="price-box">
                    <h1>Price: P10000</h1>
                </div>

                <div id = "description-box"> 
                    <p>

                    </p>
                </div>


            </span>

        </div>
    </div>
</body>

