<title>Product Page</title>

<body>

    {{>navbar}}

    <div class="main">
        <div id="product-base">
            
            <span id="left-box">
                <div>

                </div>
                <div>

                </div>
                <div>

                </div>
                <div>

                </div>
            </span>

            <span id ="main-box"> 
                <div> 
                    

                </div>
            </span>

            <span id = "right-box">
                <div id="product-name">
                    <h1>Bayli Conditioning Shampoo</h1>
                </div>

                <hr>

                <div id="price-box">
                    <h1>Price: P10000</h1>
                </div>

                <div id = "description-box"> 
                    <p>
                        According to all known laws of aviation,
                        there is no way a bee
                        should be able to fly.

                        <br>
                        <br>
                        
                        Its wings are too small to get
                        its fat little body off the ground.

                        <br>
                        <br>

                        
                        The bee, of course, flies anyway because bees don't care
                        what humans think is impossible.

                    </p>
                </div>

                {{!-- The underline doesn't show but you get the gist --}}
                <div id ="size-box">
                    <p>Size: <u>S</u> M L</p>
                </div>

                <div id="quantity-box">
                    <span id="quantity-text">
                        <p>Quantity: </p>
                    </span>
                    <span id="quantity-counter">

                        <span id="quantity-negative">

                            <p>-</p>

                        </span>

                        <span id="quantity-amount">
                            <p>
                                1
                            </p>
                        </span>

                        <span id="quantity-positive">
                            <p>+</p>
                        </span>

                    </span>
                </div>

                <button id="store-button">
                    <h1>GO TO STORE</h1>
                </button>


            </span>

        </div>
    </div>
</body>

