#home-base{

    display: flex;
    flex-direction: column;
}

#home-page{
    width: 100%;
    height: calc(100vh - var(--navbar_height));
    background-color: white;

    background-image: url("../photos/home_bg.png");
    background-position: center top;
    background-size: 100%;
    background-repeat: no-repeat;

    position: relative;
    isolation: isolate;

    display: flex;
    
}

#home-page::before{
    content: "";

    position: absolute;
    opacity: 0.20;
    background: black; /* the image used is white washed without this */

    z-index: -1;
    inset: 0;
}

#home-page #page-left{
    width: 750px;
    height: 100%;
    padding: 120px 80px;
    
}

#home-page #page-left h1{
    color: var(--color11);
    font-size: 95px;
    font-weight: 600;
    line-height: 1.2;

    font-family: "Atma", system-ui;
}

#home-page #page-left p{
    color: #4D0BA1;
    font-weight: 700;
    font-style: italic;
}

#home-page #page-right{
    width: 10px;
    height: 100%;
    
}