@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --navbar_height: 80px;

    --color1: #2e358f;
    --color2: #b48d69;
    --color3: #d4b3ff;
    --color4: #efeaff;
    --color5: #bc529b;
    --color6: #a4e5ac;
    --color7: #f7f5ff;
    --color8: #fff7f0;
    --color9: #ffa5a5;
    --color10: #d9d9d9;
    --color11: #ec1454;
    --color12: #f7f7f7;
}

/* text selection/highlighting customization */
::selection {
    color: var(--color5);
    background: none;
  }

body{
    font-family: 'Inter', serif;
    overflow: auto;
}

a{
    cursor: pointer;
}

/* Prevent overlapping with the navbar */
.main {
    width: 100%;
    margin-top: var(--navbar_height); 
}

#navbar{
    width: 100%;
    height: var(--navbar_height);
    background-color: var(--color6);

    overflow: hidden;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    padding:10px;
    position: fixed;

}

#nav-left{
    width: 50%;
    height: 100%;

}

#nav-logo{
    width: 200px;
    height: 100%;
    margin-left: 90px;
    

    float: left;
}

#nav-logo img{
    scale: 70%;
}


#nav-right{
    width: 50%;
    height: 100%;

    flex-direction: row-reverse;
    display: flex;
}


#nav-options{
    width: fit-content;
    margin:auto;
    margin-right: 58px;
    float: right;
    
    color: var(--color1);
    font-weight: bold;
}

#nav-options ul li{

    display: inline;
    float: left;
}

#nav-options ul li a:hover{
    background-color: var(--color9);

    transition: 0.2s;
}

#nav-options ul li a{
    font-size: larger;
    padding: 15px 30px;
    border: 0px solid;
    border-radius: 15px;
}



