@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');

:root{
    --navbar_height: 80px;
    --footer_height: 400px;

    --navbar-color: #a4e5ac;
    --footer-color: #535AB4;

    --color1: #2e358f;
    --color2: #b48d69;
    --color3: #d4b3ff;
    --color4: #efeaff;
    --color5: #bc529b;
    --color6: #a4e5ac;
    --color7: #f7f5ff;
    --color8: #fff7f0;
    --color9: #ffa5a5;
    --color10: #d9d9d9;
    --color11: #ec1454;
    --color12: #f7f7f7;
}

/* text selection/highlighting customization */
::selection {
    color: var(--color5);
    background: none;
  }

body{
    font-family: 'Inter', serif;
    overflow: auto;
}

a{
    cursor: pointer;
}

.main-home{
    margin-top: var(--navbar_height);
    width: 100%;
}

/* Prevent overlapping with the navbar */
.main {
    width: 100%;
    margin-top: var(--navbar_height); 
    margin-bottom: 100px;
}

#navbar{
    width: 100%;
    height: var(--navbar_height);
    background-color: var(--navbar-color);

    overflow: hidden;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    padding:10px;
    position: fixed;

}

#nav-left{
    width: max-content;
    height: 100%;

}

#nav-logo{
    width: 200px;
    height: 100%;
    margin-left: 90px;
    

    
}

#nav-logo img{
    scale: 70%;
}


#nav-right{
    width: max-content;
    height: 100%;

    margin-left: auto;
    
    display: flex;
}


#nav-options{
    
    width: fit-content;
    margin:auto;
    margin-right: 58px;
    
    color: var(--color1);
    font-weight: bold;
}

#nav-options ul{
    display: flex;
    
}

#nav-options ul li a{
    font-size: larger;
    margin: 0 25px;
}

#nav-options ul li a{
    padding-bottom: 12px; /* gap of the underline to the text */
    position: relative; 
}

#nav-options ul li a::after{
    content: "";
    position: absolute;
    height: 3px; /* thickness of the line */
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
    transform: translateY(3px);
    background: var(--color9);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

#nav-options ul li a:hover::after{
    opacity: 1;
    transform: translateY(0);
}


#footer{
    width: 100%;
    height: var(--footer_height);
    background-color: var(--footer-color);
    
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;

    display: flex;
    flex-direction: column;
}

#footer-top{
    width: 100%;
    height: 60%;
    

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-title{
    color: white;
    font-size: 20px;
    font-weight: 500;

    margin-bottom: 20px;

}

.footer-content{
    color: white;
    font-size: 15px;
    font-weight: 300;

    display: flex;
    flex-direction: column;
    
}

.footer-content p{
    margin-bottom: 11px;
}

.footer-content a:hover{
    text-decoration: underline;
}

.footer-content b{
    font-weight: 600;
}

#footer-products-content{
    color: white;
    font-size: 15px;
    font-weight: 300;
    width: 100%;
    height: 100%;

    display: flex;
}

#footer-products-content p{
    margin-bottom: 11px;
}

#footer-products-content a:hover{
    text-decoration: underline;
}

#content-left{
    width: 180px;

    display: flex;
    flex-direction: column;
}

#content-right{
    width: 100px;

    display: flex;
    flex-direction: column;
}


#footer-products{
    
    width: max-content;
    height: 85%;

    margin-left: 20px;
    margin-right: 20px;

    display: flex;
    flex-direction: column;
}


#footer-about{
    
    width: max-content;
    height: 85%;

    margin-left: 20px;
    margin-right: 20px;

    display: flex;
    flex-direction: column;
}

#footer-form{
    
    width: max-content;
    height: 85%;

    margin-left: 20px;
    margin-right: 20px;

    display: flex;
    flex-direction: column;
}

#footer-contact{
    
    width: max-content;
    height: 85%;

    margin-left: 20px;
    margin-right: 20px;

    display: flex;
    flex-direction: column;
}

#footer-mid{
    width: 100%;
    height: 10%;

    align-self: center;
}

#footer-mid hr{
    height: 0;
    border: 1px solid white;
    border-radius: 10px;
}

#footer-bottom{
    width: 100%;
    height: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-bottom h1{
    color: white;
    font-weight: 500;

    margin-bottom: 10px;
}

#footer-bottom ul{
    display: flex;
    flex-direction: row;
}

#footer-bottom ul li{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    margin: 10px;
    

    display: flex;
    align-items: center;
    justify-content: center;
}

.facebook-icon{
    
    background-image: url(../photos/facebook_icon.png);
    background-position: center;
    background-size: 105%;
    background-repeat: no-repeat;
}

.shopee-icon{
    
    background-image: url(../photos/shopee_icon.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}


.shoppedia-icon{
    
    background-image: url(../photos/shoppedia_icon.png);
    background-position: center bottom;
    background-size: 120%;
    background-repeat: no-repeat;

    filter: grayscale(100%);
}








