:root {
    --left-box-bg: #d9d9d9;
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --product-name-color: #ec1454;
    --line-color: #D9D9D9;
    --desc-color: #757575;
    --button-color: white;
    --quantity-amount-color: #E6E6E6;
    --store-button-color: #144068;
    --quantity-button-hover-color: black;
}

@keyframes levitate{
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-10px);
    }
    100%{
        transform:translateY(0);
    }

}

#product-base {
    padding-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    flex-direction: row;
}

#left-box{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

#left-box > div {
    background-color: var(--left-box-bg);
    border: 10px;
    height: 100px;
    width: 100px;
    margin-bottom:50px;
    box-shadow: var(--box-shadow);
}

#main-box {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

#main-box > div {
    background-color: var(--left-box-bg);
    border: 10px;
    height:620px;
    width: 620px;
    box-shadow: var(--box-shadow);
}

#right-box {
    display: flex;
    flex-direction: column;
    width: 100%; 
}

#product-name{
    font-family: 'Inter', serif;
    margin-bottom: 30px;
}

#product-name > h1{
    font-size: 40px;
    color: var(--product-name-color);
    font-weight: 600;
    letter-spacing: 5px;
}

#desc > b{
    font-weight: bold;
}
hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color: var(--line-color);
    height: 3px;
    border-radius: 3px;
    margin-bottom: 10px;
}

#price-box{
    font-family: 'Inter', serif;
    margin-bottom: 30px
}

#price-box > h1{
    font-size: 30px;
    font-weight: 600;
}

#description-box{
    text-align: justify;
    color: var(--desc-color);
    margin-bottom: 40px;
}

#size-box{
    margin-bottom: 30px;
}

#quantity-box{
    display: flex;
    flex-direction: row;
    height: 55px;
    width: 300px;
    margin-bottom: 40px;
}

#quantity-text{
    margin-top: 15px;
    margin-right: 10px ;
}

#quantity-counter{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 189px;
}

#quantity-negative{
    height: 50px;
    width: 50px;
    background-color: var(--button-color);
    border: 2px black solid;
    border-radius: 5px;
    transition: background-color 0.3s ease-out 50ms;
    transition: color 0.3s ease-out 50ms;
}

/* Hover effect */
#quantity-negative:hover {
    background-color: var(--quantity-button-hover-color);
    color: white;

}


#quantity-negative > p{
    margin: auto;
    margin-top:30%;
    text-align: center;
    font-weight: bold;
}

#quantity-amount{
    height: 100%;
    width:100px;
    background-color: var(--quantity-amount-color);
}

#quantity-amount > p{
    margin-left: 45%;
    margin-top: 15%;
    font-weight:bold;
}

#quantity-positive{
    height: 50px;
    width: 50px;
    background-color: var(--button-color);
    border: 2px black solid;
    border-radius: 5px;
    transition: background-color 0.3s ease-out 50ms;
    transition: color 0.3s ease-out 50ms;
    
}

/* Hover effect */
#quantity-positive:hover {
    background-color: var(--quantity-button-hover-color);
    color: white;
}

#quantity-positive > p{
    margin: auto;
    margin-top:30%;
    text-align: center;
    font-weight: bold;
}

#store-button{
    background-color: var(--store-button-color);
    height:60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#store-button > h1{
    color: white;
    font-weight: bolder;
    word-spacing: 5px;
}



