:root{
    --productlist_options_height: 50px;
    --view-button-color: #535AB4;
    --picture-bg-color: #ebebeb;
}

#productlist-base{
    background-color: white;

    display: flex;
    flex-direction: column;
}

#productlist-options{
    width: 100%;
    height: var(--productlist_options_height);
    

}

#productlist-main{
    width: 100%;
    padding: 70px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    grid-auto-rows: minmax(100px, auto);
    overflow: hidden;
    

    justify-items: center;
    align-items: center;
    
    
}

.productbox{
    width: 650px;
    height: 300px;

    margin-top: 40px;
    margin-bottom: 70px;
    margin-left: 40px;
    margin-right: 10px;

    display: flex;
    
}

.productbox-left{
    width: 250px;
    height: 100%;
    
}

.productbox-left div{
    width: 100%;
    height: 100%;
    background-color: var(--picture-bg-color);
    padding: 20px;
    border-radius: 5px;
}

.productbox-left img{
    margin-top:30px;
}

.productbox-right{
    width: 500px;
    height: 100%;
    padding: 15px;
    padding-bottom: 5px;
    background-color: var(--color12);
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#productbox-name{
    width: 100%;
    font-size: 25px;
    color: var(--product-name-color);
    font-weight: 600;
    margin-bottom: 20px;
}

#productbox-desc{
    width: 100%;
    text-align: justify;
    color: var(--desc-color);
    margin-bottom: 40px;
    flex-grow: 2;
}

#productbox-desc  b{
    font-weight: bold;
}

#productbox-bottom{
    flex-grow: 1;
}

#productbox-infobox{
    float: left;
    height: 100%;
    width: 50%;
}

#productbox-buttonbox{
    float:right;
    height:100%;
    width: 50%;
}

#productbox-infobox > div{
    margin: 5px;
    color: var(--desc-color);
}

#productbox-viewbutton{
    background-color: var(--view-button-color);
    height:30px;
    width: 50%;
    display: flex;
    float:right;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-weight: bold;
    color:white;
}
